---
const { colour } = Astro.props;
---

<div class={`hover:cursor-pointer ${colour} rounded font-display font-bold mt-px px-2 py-px hover-zoom`}>
    <div class="flex items-center content-center *:mx-1">
        <slot/>
    </div>
</div>