@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap");

@import "tailwindcss";
@import "@catppuccin/tailwindcss/mocha.css";

@theme {
    --color-bg: var(--color-ctp-crust);

    --font-sans: "MS UI Gothic", "Verdana", system-ui, sans-serif-;
    --font-mono: "DM Mono", "JetBrains Mono", monospace;
    --font-display: "Cal Sans", "MS UI Gothic", "Verdana", sans-serif;
    --font-pixel: "Zpix", "nec_apc3";

    --shadow-box: 5px 5px 0px rgba(0, 0, 0, 0.2);
    --shadow-glow: 0px 0px 30px 0px #d7b0ff inset 0px 30px 20px
        rgba(241, 165, 255, 0.4);

    --drop-shadow-glow: 0 0 10px #9836d9;

    --text-shadow-lg: 2px 2px 4px var(--tw-shadow-color);
    --text-shadow-heading: 4px 4px 0px var(--color-ctp-crust);
    --text-shadow-title: 8px 8px 0px #47495e;
    --text-shadow-title-sm: 4px 4px 0px #47495e;

    /* animations */
    --animate-wave: wave 1s cubic-bezier(0.6, 0.01, 0.47, 0.99) infinite
        alternate;
    @keyframes wave {
        0% {
            transform: translate(0, -10px);
        }
        100% {
            transform: translate(0);
        }
    }

    --animate-scrollup:
        scrollup 8s linear infinite,
        pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    @keyframes scrollup {
        0% {
            transform: translate(0);
        }
        100$ {
            transform: translate(-50%);
        }
    }
}

@font-face {
    font-family: "MS UI Gothic";
    src: url("/font/MS-UIGothic.woff2") format("woff2");
}

@font-face {
    font-family: "Zpix";
    src: url("/font/zpix.ttf") format("truetype");
}

@layer base {
    @keyframes bg-scroll {
        from {
            background-position: 0%;
        }
        to {
            background-position: 100% -100%;
        }
    }

    body {
        @apply text-ctp-text;
        image-rendering: pixelated;
        background: repeating-conic-gradient(
                var(--color-ctp-crust) 0 25%,
                var(--color-ctp-mantle) 0 50%
            )
            50% / 40px 40px;
        animation: bg-scroll infinite 40s linear;
    }

    /* sane defaults for rendering text blocks */
    .prose {
        > h2 {
            @apply mt-4 text-4xl text-ctp-green font-bold font-display text-shadow-heading;
        }
        > h3 {
            @apply mt-4 text-2xl font-bold text-ctp-blue font-display text-shadow-heading;
        }
        > p {
            @apply mb-2 text-lg;
        }
    }
}

@layer components {
}

@layer utilities {
}

.material-symbols-outlined {
    vertical-align: middle;
    font-size: 1em;
}

.fancy-link {
    transition: 0.5s;
    padding: 2px;
    display: inline-block;
    background-size: 200%;
}
