@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

@import "tailwindcss";
@import "@catppuccin/tailwindcss/mocha.css";

@theme {
    --font-sans: "DM Mono", "JetBrains Mono", monospace;
    --font-mono: "DM Mono", "JetBrains Mono", monospace;
    --font-display: "Funnel Display", "MS UI Gothic", "Verdana", sans-serif;
    --font-pixel: "Zpix", "nec_apc3";
    
    --shadow-card: 5px 5px 0px rgba(0,0,0,0.2);
    --shadow-glow: 0px 0px 30px 0px #d7b0ff inset 0px 30px 20px rgba(241, 165, 255, 0.4);
    
    --drop-shadow-glow: 0 0 10px #9836d9;
   
   --text-shadow-lg: 2px 2px 4px var(--tw-shadow-color);
   
    --animate-wave: wave 1s cubic-bezier(.6, .01, .47, .99) infinite alternate;
    @keyframes wave {
        0% { transform: translate(0, -10px) }
        100% { transform: translate(0) }
    }
    --animate-scrollup: scrollup 8s linear infinite, pulse 2s cubic-bezier(.4, 0, .6, 1) infinite;
    @keyframes scrollup {
        0% { transform: translate(0) }
        100$ { transform: translate(-50%) }
    }
}

@font-face {
    font-family: "MS UI Gothic";
    src: url("/font/MS-UIGothic.woff2") format("woff2");
}

@font-face {
    font-family: "Zpix";
    src: url("/font/zpix.ttf") format("truetype");
}

@layer components {

}

@layer utilities {
  
}

.material-symbols-outlined {
    vertical-align: middle;
    font-size: 1em;
}

body {
    @apply bg-ctp-mantle text-ctp-text;
    image-rendering: pixelated;
}

.fancy-link {
    transition: 0.5s;
    padding: 2px;
    display: inline-block;
    background-size: 200%;
}

.fancy-link--r {
    background-image: linear-gradient(to left, transparent 50%, black 50%);
    background-position-x: 100%;
}

.fancy-link--l {
    background-image: linear-gradient(to right, transparent 50%, black 50%);
    background-position-x: 0;
}

.fancy-link--r:hover {
    transform: scale(1.4) rotate(-5deg);
    background-position-x: 0;
}

.fancy-link--l:hover {
    transform: scale(1.4) rotate(5deg);
    background-position-x: 100%;
}
