---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="home">
    <div slot="body" class="relative">
        <div class="prose">
            <h2>hello!</h2>
            <p class="text-xl">
                i'm a <span>16 year old</span> developer from <span
                    >south england</span
                >.<br />
                i currently study physics, further maths and computer science.
            </p>
        </div>

        <article class="prose">
            <h3>games i play</h3>
            <p>
                i mainly play rhythm games; at home i play 4K <a
                    href="https://osu.ppy.sh/users/23581678"
                    class="text-ctp-pink underline"
                    target="_blank">osu!mania</a
                > or muse dash; at the arcade i play sdvx and museca. <span
                    class="text-xs text-subtext2 font-pixel"
                    >(when i can afford it)</span
                >.
            </p>
        </article>
    </div>
</Layout>

<Footer />
