---
import Layout from '../layouts/Layout.astro';
import './app.css';
import { Image } from "astro:assets";
import wooper from "../assets/wooper/wooper1.gif";

import { getRelativeTime } from "../scripts/util.mjs";
import { BASE_GITHUB, COMMIT_HASH, COMMIT_TIME } from "astro:env/client";
const commitHashShort = COMMIT_HASH.slice(0, 7);
const commitTimeRelative = getRelativeTime(COMMIT_TIME);
---

<Layout>
	<div slot="sidebar-l" class="card">
		will
	</div>
	<div slot="sidebar-r">
		<div class="card shadow-none">
			running
			<span class="text-black hover:cursor-pointer group" data-tooltip="open in github">
				<a href={BASE_GITHUB+"/commit/"+COMMIT_HASH} target="_blank">
					<span class="bg-green rounded px-1 font-mono relative z-10 text-xs">{commitHashShort}</span>
				</a>
				<span class="material-symbols-outlined bg-teal rounded-r pl-2 relative -left-10 text-xs group-hover:-left-3 transition-all ease-in-out duration-300">open_in_new</span>
			</span>
			<blockquote class="ml-2.5 pl-2.5 border-l-2 border-opacity-90">
				willy wobbla willy wobble
			</blockquote>
			<span class="text-subtext1 text-xs"><span class="material-symbols-outlined">schedule</span> {commitTimeRelative}</span>
		</div>
	</div>
	<div class="grid grid-cols-2">
		<div>
			<h1 class="font-display font-bold text-3xl">hello!</h1>
			<Image src={wooper} alt="wooper"></Image>
		</div>
		<div>
			world
		</div>
	</div>
</Layout>
