---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="home">
    <div slot="body" class="relative">
        <div class="prose">
            <h2>hello!</h2>
            <p class="text-xl">
                i'm a <span>16 year old</span> developer from <span
                    >south england</span
                >.<br />
                i currently study physics, further maths and computer science.
            </p>
        </div>

        <article class="prose">
            <h3>code</h3>
            <p>
                my primary focus is on learning rust, but i also use typescript
                and kotlin, among others. <br />
                my current project is a <strong
                    >minecraft server implementation</strong
                > written in rust for my EPQ.
            </p>
            <h3>games</h3>
            <p>
                i play rhythm games; at home i play 4K <a
                    href="https://osu.ppy.sh/users/23581678"
                    class="text-ctp-pink"
                    target="_blank">osu!mania</a
                > or muse dash; at the arcade i play sdvx or museca <small
                    >(when i can afford it)</small
                >.
            </p>

            <h3>other</h3>
            <p>
                other things that interest me include:
                <ul class="mt-0">
                    <li>
                        <strong>video editing</strong>; i'm <small
                            >(slowly)</small
                        > learning after effects
                    </li>
                    <li>
                        <strong>japanese</strong>; i'm learning with anki and <a
                            href="https://www.youtube.com/playlist?list=PLg9uYxuZf8x_A-vcqqyOFZu06WlhnypWj"
                            target="_blank">cure dolly</a
                        >
                    </li>
                    <li>
                        <strong>music</strong>; see my <a
                            href="https://last.fm/user/teatowels"
                            class="text-ctp-red"
                            target="_blank">last.fm</a
                        > or <a
                            href="https://stats.fm/teatowel"
                            class="text-ctp-green"
                            target="_blank">stats.fm</a
                        >
                    </li>
                    <li>
                        <strong>anime and manga</strong>; see my <a
                            href="https://anilist.co/user/teatowel"
                            target="_blank">anilist</a
                        >
                    </li>
                </ul>
            </p>

            <h3>hardware</h3>
            <ul>
                <li>
                    <strong>Custom PC</strong>: Windows 11, Ryzen 5 5600, RTX
                    3070, 32GB (DDR4), 1.5TB
                </li>
                <li>
                    <strong>Precision Workstation</strong>: Ubuntu Server, Xeon
                    E5-1630 v3, RX 590, 16GB (DDR4), 500GB
                </li>
                <li>
                    <strong>Macbook Pro (2021, 14")</strong>: macOS 26, M1 Pro,
                    16GB (LPDDR5), 512GB
                </li>
                <li>
                    <strong>Raspberry Pi 4</strong>: ARM Cortex-A72 [4 core /
                    1.8Ghz], 4GB (LPDDR4), 64GB
                </li>
                <li>
                    <strong>Synology DS218</strong>: 1.4GHz [2 cores], 2GB
                    (DDR4), 2TB
                </li>
                <li>
                    <strong>iPhone 12 Mini</strong>: A14, iOS 26, 64GB
                </li>
            </ul>
        </article>
    </div>
</Layout>

<Footer />
