---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Artist from "../components/music/Artist.astro";
import WillyRodriguez from "../assets/music/willy_rodriguez.jpg";
import Wetdream from "../assets/music/wetdream.jpg";
import IFeltLikeASketch from "../assets/music/i_felt_like_a_sketch.jpg";
import KeyVsLocket from "../assets/music/key_vs_locket.jpg";
import DrugBug from "../assets/music/drug_bug.png";
import SometimesItGetsWorse from "../assets/music/sometimes_it_gets_worse.webp";
---

<Layout title="music" accent="ctp-sky" returnHome>
    <div slot="body" class="relative">
        <div class="prose">
            <h2>this page has music i like</h2>
            <p>i don't know how to make music</p>
        </div>

        <!-- carousel -->
        <div class="absolute left-1/2 -translate-x-1/2 mt-4">
            <div
                class="flex bg-ctp-crust w-[50vw] h-52 py-2 px-4 border-2 border-ctp-sky rounded-lg"
            >
                <Artist
                    name="Willy Rodriguez"
                    image={WillyRodriguez}
                    songs={[
                        {
                            title: "revisited",
                            album: "wetdream",
                            image: Wetdream,
                            rating: 3,
                            length: "20:21",
                        },
                        {
                            title: "wetdream",
                            album: "wetdream",
                            image: Wetdream,
                            rating: 2,
                            length: "10:21",
                        },
                        {
                            title: "lost in translation",
                            album: "wetdream",
                            image: Wetdream,
                            rating: 1,
                            length: "5:53",
                        },
                    ]}
                    accent="ctp-maroon"
                />
                <Artist
                    name="key vs. locket"
                    image={KeyVsLocket}
                    songs={[
                        {
                            title: "half enough",
                            album: "i felt like a sketch",
                            image: IFeltLikeASketch,
                            rating: 3,
                            length: "3:16",
                        },
                        {
                            title: "nothing for a moment",
                            album: "i felt like a sketch",
                            image: IFeltLikeASketch,
                            rating: 2,
                            length: "3:11",
                        },
                        {
                            title: "rifle",
                            album: "i felt like a sketch",
                            image: IFeltLikeASketch,
                            rating: 1,
                            length: "3:00",
                        },
                    ]}
                    accent="ctp-yellow"
                />
                <Artist
                    name="drug bug"
                    image={DrugBug}
                    songs={[
                        {
                            title: "sometimes it gets worse",
                            album: "sometimes it gets worse...",
                            image: SometimesItGetsWorse,
                            rating: 3,
                            length: "3:16",
                        },
                        {
                            title: "kerosene",
                            album: "sometimes it gets worse...",
                            image: SometimesItGetsWorse,
                            rating: 2,
                            length: "3:11",
                        },
                        {
                            title: "rifle",
                            album: "i felt like a sketch",
                            image: SometimesItGetsWorse,
                            rating: 1,
                            length: "3:00",
                        },
                    ]}
                    accent="ctp-green"
                />
            </div>
        </div>
    </div>
</Layout>
