---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
// import Artist from "../components/music/Artist.astro";
import Album from "../components/music/Album.astro";
import { getCollection } from "astro:content";

const artists = await getCollection("music");
console.log(artists);
---

<Layout title="music" accent="ctp-sky" returnHome>
    <div slot="body" class="relative">
        <div class="prose">
            <h1>music i like</h1>
        </div>

        <div class="flex">
            <Album
                title="wetdream"
                artist="Willy Rodriguez"
                imagePath="wetdream.jpg"
                songs={[
                    {
                        title: "wetdream",
                        rating: 3,
                        length: "08:41",
                    },
                ]}
            />
        </div>
    </div>
</Layout>
