---
const { override = "" } = Astro.props;
---

<script>
    let section = document.querySelector("section")!!;
    let title = document.querySelector("div")!!;
    section.addEventListener("mouseenter", () => {
        section.classList.add("border-ctp-mauve");
        title.classList.add("text-ctp-mauve");
    });
    section.addEventListener("mouseleave", () => {
        section.classList.remove("border-ctp-mauve");
        title.classList.add("text-ctp-mauve");
    });
</script>

<section class={`rounded border-2 mx-auto p-3 relative transition ${override}`}>
    <div class="text-xs italic font-bold text-left absolute transition">
        <slot name="title" />
    </div>
    <slot name="body" />
</section>
