---
// TODO implement colours
const { color } = Astro.props;
---

<!-- button -->
<div
    class={`border-1 border-ctp-blue px-2 py-1 my-4 w-min transition hover:cursor-pointer hover:bg-ctp-blue hover:text-ctp-mantle`}
>
    <slot />
</div>
