---
import { GitBranch } from "@lucide/astro";
import {
    BASE_GITHUB,
    COMMIT_HASH,
    COMMIT_MSG,
    COMMIT_TIME,
} from "astro:env/client";
const commitShort = COMMIT_HASH.substring(0, 7);
---

<script>
    import { COMMIT_TIME } from "astro:env/client";
    import { getRelativeTime } from "../scripts/util.mjs";
    console.log("time:", COMMIT_TIME);
    // @ts-ignore
    document.querySelector("#commitTime").innerText =
        `(${getRelativeTime(COMMIT_TIME)})`;
</script>

<img
    src="https://count.getloli.com/@:towelcodes?theme=3d-num"
    width="150"
    class="mx-auto"
/>
<footer
    class="text-center
    align-text-bottom
    font-pixel
    text-ctp-overlay0
    my-4 leading-1
    text-xs"
>
    hand coded by me <br />
    <div class="flex justify-center items-center gap-2">
        <GitBranch class="w-3" />
        <a
            href={BASE_GITHUB}
            class="underline"
            target="_blank"
            data-tooltip="asdawdawfoijaef"
        >
            {commitShort}
            <span class="no-underline!" id="commitTime"></span>
        </a>
    </div>
    <img
        src="https://skillicons.dev/icons?i=astro,svelte,tailwind"
        alt="made with astro, svelte and tailwind"
        class="h-6 mx-auto mt-2 grayscale"
    />
</footer>
