---
const { name, url, accent, important = false } = Astro.props;
---

<div class="flex items-center">
    (
    <a href={url} target="_blank" class="inline-flex items-center gap-1">
        <div class={`*:w-4 ${accent ? "filter-" + accent : ""}`}>
            <slot />
        </div>
        <div class={important ? "" : "hidden md:block"}>{name}</div>
    </a>
    )
</div>
