---

---

<div
    data-follow
    id="tooltip"
    class="bg-ctp-crust rounded-xl px-2 py-0 border border-ctp-surface2 font-display text-sm absolute hidden transition overflow-clip z-50 hover:cursor-default"
    style="border-bottom-left-radius: 0; max-height: 26px; opacity: 70%;"
>
    hello
</div>
<script src="../scripts/tooltip.js"></script>
