---

---
<div data-follow id="tooltip" class="bg-crust rounded-xl px-2 py-0 border-[1px] border-surface2 font-display absolute hidden transition overflow-clip"
     style="border-bottom-left-radius: 0; max-height: 26px">hello</div>
<script src="../scripts/tooltip.js"></script>