---

import SkillIcon from "./SkillIcon.astro";---
<h3 class="font-display font-bold text-xl">skills</h3>
<div class="flex flex-wrap [&>*]:m-0.5 [&>*]:h-8">
    <SkillIcon skill="bun"/>
    <SkillIcon skill="svelte"/>
    <SkillIcon skill="typescript"/>
    <SkillIcon skill="tailwind"/>
    <SkillIcon skill="rust"/>
    <SkillIcon skill="kotlin"/>
    <SkillIcon skill="docker"/>
    <SkillIcon skill="linux"/>
    <SkillIcon skill="cloudflare"/>
    <SkillIcon skill="vercel"/>
    <SkillIcon skill="vscode"/>
    <SkillIcon skill="webstorm" tooltips="jetbrains webstorm"/>
    <SkillIcon skill="ae" tooltip="adobe after effects"/>
    <SkillIcon skill="ps" tooltip="adobe photoshop"/>
</div>