---

import SkillIcon from "./SkillIcon.astro";---
<h3 class="font-display font-bold text-xl">skills</h3>
<div class="flex flex-wrap *:m-0.5">
    <SkillIcon skill="bun" size="h-8"/>
    <SkillIcon skill="svelte" size="h-8"/>
    <SkillIcon skill="typescript" size="h-8"/>
    <SkillIcon skill="tailwind" size="h-8"/>
    <SkillIcon skill="rust" size="h-8"/>
    <SkillIcon skill="kotlin" size="h-8"/>
    <SkillIcon skill="docker" size="h-8"/>
    <SkillIcon skill="linux" size="h-8"/>
    <SkillIcon skill="cloudflare" size="h-8"/>
    <SkillIcon skill="vercel" size="h-8"/>
    <SkillIcon skill="vscode" size="h-8"/>
    <SkillIcon skill="webstorm" tooltips="jetbrains webstorm" size="h-8"/>
    <SkillIcon skill="ae" tooltip="adobe after effects" size="h-8"/>
    <SkillIcon skill="ps" tooltip="adobe photoshop" size="h-8"/>
</div>