---
import Teatowel from "../assets/typography/teatowels.svg";
import Home from "../assets/typography/home.svg";
import Socials from "../components/Socials.astro";

const { title } = Astro.props;
const path = Astro.url.pathname;
const accent = path == "/" ? "ctp-green" : "ctp-sky";
const returnHome = path != "/";
---

<nav class="mt-8 flex items-center justify-center w-full">
    <div class="flex gap-2 *:hover:cursor-default *:block items-center">
        <Teatowel class="h-[44px] relative left-6" />
        <Home
            class="h-[36px] relative drop-shadow-glow drop-shadow-ctp-green"
        />
    </div>
</nav>

<!-- display socials for small displays -->
<div class="md:hidden mt-4 flex justify-center items-center">
    <Socials horizontal small />
</div>
