---
import Teatowel from "../assets/typography/teatowels.svg";
import TeatowelFallback from "../assets/typography/teatowels.png";
import Home from "../assets/typography/home.svg";
import HomeFallback from "../assets/typography/home.png";
import Socials from "../components/Socials.astro";
import { Image } from "astro:assets";

const { title } = Astro.props;
const path = Astro.url.pathname;
const accent = path == "/" ? "ctp-green" : "ctp-sky";
const returnHome = path != "/";
---

<nav class="mt-8 flex items-center justify-center w-full">
    <div class="flex gap-2 *:hover:cursor-default *:block items-center">
        <!-- <Image src={Teatowel} alt="teatowel's" height="44" class="not-safari" /> -->
        <Teatowel class="not-safari h-[44px]" />
        <Image
            src={TeatowelFallback}
            alt="teatowel's"
            height="44"
            class="safari"
        />
        <!-- <Image
            src={Home}
            alt="home"
            height="44"
            class="drop-shadow-ctp-green drop-shadow-glow not-safari"
        /> -->
        <Home class="not-safari h-[38px] relative -left-4" />
        <Image
            src={HomeFallback}
            alt="home"
            height="44"
            class="drop-shadow-ctp-green drop-shadow-glow safari"
        />
    </div>
</nav>

<!-- display socials for small displays -->
<div class="md:hidden mt-4 flex justify-center items-center">
    <Socials horizontal small />
</div>

<style>
    .safari {
        display: none;
    }
    /* i hate safari */
    _::-webkit-full-page-media,
    _:future,
    :root {
        .safari {
            display: block !important;
        }
        .not-safari {
            display: none;
        }
    }
</style>
