---
import PointyThing from "../components/PointyThing.astro";
import LocalTime from "../components/LocalTime.astro";
import Button from "../components/Button.astro";
import Sidebar from "../components/Sidebar.svelte";
import GithubIcon from "../assets/icon/github.svg";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link
            rel="icon"
            type="image/svg+xml"
            href="/favicon-dark.svg"
            media="screen and (prefers-color-scheme:dark)"
        />
        <link
            rel="icon"
            type="image/svg+xml"
            href="/favicon-light.svg"
            media="screen and (prefers-color-scheme:light)"
        />
        <link rel="me" href="https://ohai.social/@teatowel" />
        <meta name="generator" content={Astro.generator} />
        <title>teatowel's {title}</title>
    </head>
    <body class="mocha">
        <!-- <PointyThing /> -->
        <div class="flex">
            <Sidebar />
            <main class="grow m-4 container lg:max-w-3xl! mx-auto">
                <!-- header -->
                <nav
                    class="border-ctp-green bg-bg border-2 rounded p-4 w-4/5 md:w-lg mx-auto relative top-6 z-20 hover:cursor-default"
                >
                    <div
                        class="text-ctp-green absolute bg-bg italic -top-2.5 text-sm px-2 flex gap-1 *:my-auto font-mono"
                    >
                        <div>header</div>
                    </div>

                    <!-- large displays -->
                    <div class="hidden md:block">
                        <h1
                            class="hidden md:flex text-center text-6xl font-display font-bold text-shadow-title items-center justify-center"
                        >
                            <span
                                class="block relative transform-[rotate(-8deg)] -translate-y-2 translate-x-4"
                                >teatowel's</span
                            >
                            <span
                                class="block relative transform-[rotate(-9deg)] translate-y-2 -translate-x-4 text-ctp-green"
                                >{title}</span
                            >
                        </h1>

                        <!-- nav buttons -->
                        <div
                            class="font-mono absolute bg-ctp-crust text-sm -bottom-3 text-ctp-green"
                        >
                            <span>
                                ( <LocalTime /> )
                            </span>
                        </div>
                    </div>

                    <!-- small displays -->
                    <div class="block md:hidden">
                        <h1
                            class="flex text-center text-4xl font-display font-bold text-shadow-title-sm items-center justify-center"
                        >
                            <span
                                class="block relative transform-[rotate(-8deg)] translate-x-4 -translate-y-2"
                                >teatowel's</span
                            ><br />
                            <span
                                class="block relative transform-[rotate(-8deg)] -translate-x-4 translate-y-2 text-ctp-green"
                                >{title}</span
                            >
                        </h1>

                        <!-- nav buttons -->
                        <div
                            class="font-mono absolute bg-ctp-crust text-sm -bottom-3 text-ctp-green"
                        >
                            <span>
                                ( <LocalTime /> )
                            </span>
                        </div>
                    </div>
                </nav>

                <div class="flex">
                    <!-- sidebar -->
                    <div></div>

                    <!-- main content -->
                    <section
                        class="relative border-2 border-ctp-surface1 rounded px-6 pt-6 pb-4 backdrop-blur-sm shadow-box"
                    >
                        <div
                            class="hidden md:flex absolute text-ctp-surface1 bg-ctp-base italic -top-2.5 text-sm px-2 gap-1 *:my-auto font-mono"
                        >
                            <div>body</div>
                        </div>
                        <slot name="body" />
                    </section>
                </div>
            </main>
        </div>
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
