---
import PointyThing from "../components/PointyThing.astro";
import LocalTime from "../components/LocalTime.astro";
import Button from "../components/Button.astro";
import Sidebar from "../components/Sidebar.svelte";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="me" href="https://ohai.social/@teatowel" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=open_in_new,person,schedule"
        />
        <meta name="generator" content={Astro.generator} />
        <title>Teatowel</title>
    </head>
    <body class="mocha">
        <PointyThing />
        <main class="m-4 -ml-1 md:ml-4 flex justiy-center gap-2">
            <Sidebar client:load>
                <slot name="sidebar" />
            </Sidebar>
            <div class="flex-1 *:my-2">
                <div
                    class="rounded border-ctp-purple border-2 mx-auto p-5 text-center relative"
                >
                    <div
                        class="text-xs text-ctp-purple italic font-bold text-left absolute -top-2 bg-bg px-1 hover:cursor-default"
                    >
                        header
                    </div>
                    <slot />
                </div>
                <div
                    class="rounded border-ctp-purple border-2 mx-auto p-5 relative"
                >
                    <div
                        class="text-xs text-ctp-purple italic font-bold text-left absolute -top-2 bg-bg px-1 hover:cursor-default"
                    >
                        body<br />
                    </div>
                    <slot />

                    <Button>button</Button>
                </div>
            </div>
        </main>
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
