---
import Status from "../components/status/Status.svelte";
import Socials from "../components/Socials.astro";
import RecentTracks from "../components/status/RecentTracks.svelte";
---

<div class="mr-auto mt-9">
    <Socials />
</div>

<div class="mt-8 w-full py-2 mr-8">
    <h2 class="text-4xl font-display text-ctp-mauve text-shadow-title-sm">
        status
    </h2>
    <Status client:load />
    <div class="mt-2">
        <RecentTracks client:load />
    </div>
</div>
